body {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  font-family: monospace;
  background-color: rgb(252, 243, 232);
}

main {
  text-align: center;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form,
input,
button {
  font-family: monospace;
}

h1 {
  font-size: 2.5rem;
}

.title h2 {
  font-size: 1.1rem;
}

.title img {
  width: 40px;
}

.results h3 {
  margin: 1.5rem;
}
